---
layout: default
---
{% include JB/setup %}

<img src="assets/images/logos/horus_logo_tag.png" style="padding: 0 10px 10px 0; " class="lf">
<h1>Time to Process</h1>
<p>If you're looking for extra computing power, you've come to the right place.</p>

<p>HORUS is the high-performance computing fast lane for Michigan universities and community colleges. Researchers and students can tap into computing power typically only available to the state's top research universities.</p>

<p>Funded by the National Science Foundation, HORUS (Helping Our Researchers Upgrade their Science) is a collaboration of the University of Michigan, Michigan State University, Wayne State University, and Merit Network. It builds on the work done under the <a href="https://www.osris.org/">OSiRIS project</a>, also funded by the National Science Foundation, to provide large-scale scientific data storage. It takes advantage of the high-speed research network created for OSiRIS, as well as Merit's state-of-the-art fiber-optic network. </p>

<p>By combining OSiRIS storage with HORUS processing power, more of Michigan's scientific minds can realize the potential of their ideas. It is free to use [<span class="red">for whom exactly? Public higher ed institutions only?</span>] Users from participating institutions can log in using their existing credentials associated with their home institutions. HORUS is also available to institutions in nearby regions outside Michigan [<span class="red">need more on this</span>].</p>

<p>HORUS provides three distinct types of computational nodes, co-located with existing OSiRIS storage infrastructure, well-connected to an existing 100 Gbps research network and leveraging a set of open source software to make the resource broadly available, including to researchers outside the region via the OSG/PATh sharing described below.</p>

<p>HORUS aims to:</p>
<ul>
    <li>Provide computing power to under-resourced researchers</li>
    <li>Accelerate scientific discovery at universities, colleges, and community colleges in Michigan and surrounding regions</li>
    <li>Give easy access to the diverse computing and storage resources needed for scientific research and analysis</li>
    <li>Remove barriers to the open science grid and serve as an on-ramp to national resources</li>
    <li>Introduce students to high-performance computing, data science, and artificial intelligence</li>
    <li>Support collaboration among community colleges with certificate programs in data science</li>
    <li>Encourage collaboration between research universities and the broader research community</li>
    <li>Promote new course development</li>
</ul>

<p><strong>We are currently seeking pilot users for project HORUS. Request more information <a href="mailto:horus-help@umich.edu">HERE.</a></strong></p>

<div class="grid">
    <div class="well">
        <h4>Educators</h4>
        <div class="content">
            <p>Students, postdocs, teachers: Access to HORUS resources accelerates scientific discovery and boosts data science programs.</p>
        </div>
    </div>

    <div class="well">
        <h4>Administrators</h4>
        <div class="content">
            <p>HORUS is a gateway to the open science grid. There is no charge to use HORUS, which is funded by the National Science Foundation. Contact the project leadership team if your institution is interested in collaborating.</p>
        </div>
    </div>

    <div class="well">
        <h4>Community Colleges</h4>
        <div class="content">
            <p>HORUS opens up a world of powerful resources for science students. For educators and administrators, HORUS can support data science certificate programs and collaborations with other institutions. New users welcome. For a large class or more complex needs, contact the project team.</p>
        </div>
    </div>
</div>

<h2>Sample use cases</h2>
<ul>
    <li>Material simulation applications using hundreds of 1-2 TB files to do computation</li>
    <li>Inter-institution research that calls for greater computational and data resources</li>
    <li>Genomics data analysis requiring a mix of central VAI computation mixed with those of individual researchers </li>
    <li>Centralized compute resource and data storage for single particle cryo-electron microscopy</li>
    <li>Evolutionary genomics research which requires large-scale simulations and analyses of empirical data. </li>
    <li>Processing network telescope data for 1) longitudinal studies, 2) performing annotations with external, third-party data sources (e.g., Censys.io, historical DNS data, etc.), 3) and employing ML/AI/Statistical techniques for data clustering, predictive analytics, inference, anomaly detection and other applications</li>
    <li>Community College Data Science Certificate programs that require access to easy to use compute, storage and software resources to provide a broad introduction to the exploding field of data science</li>
</ul>

<div style="clear:both"></div>

{% for post in paginator.posts %}
<!-- <div class="article"> -->
    <div class="well">
        <h4><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h4>
        <!-- <div class="content"> -->
            {{ post.excerpt }}
        <!-- </div> -->
    </div>
<!-- </div> -->
{% endfor %}

<ul class="pagination">
    <li><a href="{{ BASE_PATH }}{{ site.archive_path }}">Archive</a></li>
</ul>

